<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
#if($user)
<h1>User details</h1>
Name: $user.name<br/>
E-mail: $user.email<br/>
Birthday: $user.birthday<br/>
#if($authz.allGranted("BOOKING_MANAGER"))
<form method="post" action="/spadv/users/id/$user.id/refill">
    Amount: #if($account) <input type="number" name="amount" value="$account.amount">
            <input type="submit" name="refill" value="Refill">
    #else <input type="submit" name="create" value="Create account"> #end
</form>
#else
    Amount: #if($account) $account.amount #else No account #end
#end
<hr/>
<a href="/spadv">Home</a>
    #if($authz.allGranted("BOOKING_MANAGER"))
        <a href="/spadv/users/id/$user.id/delete">Delete user</a><br/>
        <a href="/spadv/users/id/$user.id/book">Book ticket</a>
        <a href="/spadv/users/id/$user.id/tickets">Show booked tickets</a>
    #end
#else
<h1>Sorry, user not found!</h1>
#end
</body>
</html>
