<html>
<head><title>Home page</title></head>
<body>
<h1>Welcome!</h1>
#set($bm = $authz.allGranted("BOOKING_MANAGER"))
#if($bm)<a href="/spadv/users?new">Add user</a>&nbsp;#end
<a href="/spadv/findUser">Find user</a>
#if($bm)<a href="/spadv/uploadUsers">Upload users</a>#end
<hr/>
#if($bm)<a href="/spadv/events?new">Add event</a>&nbsp;#end
<a href="/spadv/findEvent">Find event</a>
#if($bm)<a href="/spadv/uploadEvents">Upload events</a>#end
<hr/>
<a href="/spadv/logout">Logout</a>
</body>
</html>
