<html>
<head>
    <meta charset="UTF-8">
    <title>Upload users</title>
</head>
<body>
<h1>Upload users</h1>
#if($msg)
    $msg
#else
<form method="post" enctype="multipart/form-data" action="uploadUsers">
    File to upload: <input type="file" name="file" accept="application/xml"><br/><br/>
    <input type="submit" value="Upload">
</form>
#end
<hr/>
<a href="/spadv">HOME</a>
</body>
</html>